form.languages-form .languages-wrapper fieldset {
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid #C3C3C3;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 2%;
}

form.add-language-form fieldset {
    border-radius: 5px;
    color: #FFFFFF;
    background-color: #274156;
    border: 1px solid #16232f;
    margin-bottom: 5px;
    text-align: center;
    padding-bottom: 2%;
}

form.add-language-form fieldset input {
    background-color: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #C3C3C3;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.9em;
    font-weight: 100;
}

form.add-language-form fieldset h3 {
    font-weight: 100;
}

fieldset input {
    display: inline;
    font-size: 1em;
}

input#add-language {
    background-image: url("../../resources/img/addButton.svg");
    background-repeat: no-repeat;
    background-color: #274156;
    border: 0;
    color: transparent;
    width: 30px;
    cursor: pointer;
}

input#add-language:hover {
    opacity: 0.8;
}

fieldset h3 {
    margin-top: 5px;
}

/*help-tooltip*/
.help-button {
    width: 36px;
    height: 36px;
    position: absolute;
    right: 38px;
    background-color: #274156;
    margin-right: 10px;
    border-radius: 30px;
    font-size: 35px;
    color: #fbfcff;
    text-align: center;
    margin-top: 10px;
}

.help-button:hover ~ .tooltip-container, #help-button:checked ~ .tooltip-container {
    margin-top: 10px;
}

.help-button:hover {
    cursor: pointer;
}

.tooltip-container {
    margin-top: -356px;
    padding: 10px;
    transition: margin-top 2s;
    width: 70vw;
    background-color: #274156;
    color: #fbfcff;
    margin-bottom: 30px;
    border: 5px solid #97C9D7;
}

.tooltip-container p {
    padding-left: 25px;
    background-size: 20px;
    background-repeat: no-repeat;
}

#help-button {
    display: none;
    margin-top: -300px;
}

/*Language Area + styling for delete/default/activate form-elements*/
.languages-wrapper {
    display: flex;
    flex-wrap: wrap;
}
/* Media queries */

@media screen and (max-width: 700px){
    #add-language {
        width: 100%;
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
    }
    .add-language-form input[type="text"] {
        box-sizing: border-box;
        width: 100%;
    }
    #save {
        margin-top: 180px;
        width: 100%;
        text-align: center;
    }
    .help-button-responsive {
        top: 0;
        right: 0;
    }
    form.add-language-form fieldset input {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 1920px){
    .languages-wrapper fieldset {
        width: 100%;
    }
}
@media screen and (max-width: 1108px){
    .help-button {
        display: none;
    }
    .tooltip-container {
        display: none;
    }
    .tooltip-container.responsive {
        display: block;
        margin-top: 0;
        width: 90%;
    }
    .help-button-responsive {
        display: block;
    }
}
@media screen and (max-width: 330px){
    .help-button-responsive {
        margin-right: -30px;
    }
}





